:root {
    --colorA: #0A466E;
    --colorB: #5DB5FO;
    --colorC: #1597ED;
    --colorD: #6B7175;
    --colorE: #1176BA;
}

@font-face {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/baloo2/v2/wXKrE3kTposypRyd51jcAM4olXc.woff2) format('woff2');
    unicode-range:  U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
                    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
                    U+FEFF, U+FFFD;
}

body {
    color: black;
    font-family: "Baloo 2", "verdana", sans-serif;
}

button {
    background-color: var(--colorC);
    border: none;
    box-shadow: 0 5px 5px #9d9d9d9e;
    outline: unset !important;
}

a {
    color: var(--colorC)
}

form {
    background-color: var(--colorD);
}

#main {
    background-color: white;
    max-width: 500px;
    margin: 10px auto 0;
}

#content {
    margin: 5px;
}

.center {
    text-align: center;
}

/* nav and menu */
nav {
    position: relative;
    z-index: 9999;
}

nav a:hover, nav a:hover i {
    color: #ffffffa3;
}

.menu {
    background-color: var(--colorE);
}

.menu * {
    color: white;
    background-color: var(--colorE);
}

.menu .back {
    padding: 4px 12px 0 0;
}

.menu .back i {
    font-size: 2rem;
}

.menu h1 {
    margin: 0;
}

.active a, .active i {
    color: #ffffff75;
}

.navbar-toggler {
    border: none;
    outline: unset !important;
}

#navbarSupportedContent {
    position: absolute;
    right: -1rem;
    padding: 2px 10px;
    top: .5rem;
}

.fa-bars {
    font-size: xx-large;
}

.fa-fix {
    padding: 1px;
}

a.nav-link i {
    min-width: 20px
}

/* index.html */
.flight_route {
    font-size: 2.5em;
    text-align: center;
    box-shadow: 0 5px 5px #9d9d9d9e;
    margin-bottom: 10px;
    font-weight: bold;
}

.flight_route a, .flight_route a:link, .flight_route a:visited, .flight_route a:hover, .flight_route a:active {
    color: black;
    text-decoration: none;
    display: block;
}

.add_flight_route {
    background-color: var(--colorC);
    text-align: center;
    color: white;
    box-shadow: 0 5px 5px #9d9d9d9e;
    margin: 20px 0 10px;
}

.add_flight_route a, .add_flight_route a:link, .add_flight_route a:visited, .add_flight_route a:hover, .add_flight_route a:active {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 40px;
}

.navbar-toggler {
    box-shadow: none;
}

.last {
    height: 10px;
}

/* timeline */
#timeline {
    width: 100%;
}

.timeline-container {
    margin-left: 5px;
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
}

.timeline-container::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.timeline-container ol {
    list-style-type: none;
}

.timeline-container ol.tl {
    margin: 20px 0 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
}

.timeline-container ol.tl li {
    margin: auto auto auto 20px;
    min-height: 50px;
    border-left: 2px solid var(--colorE);
    padding: 0 0 50px 30px;
    position: relative;
}

.timeline-container ol.tl li {
    counter-increment: stepcount;
}

.timeline-container ol.tl li::before {
    position: absolute;
    left: -19px;
    top: -5px;
    content: "\00a0\00a0" counter(stepcount);
    border-radius: 50%;
    background: #9f9f9f;
    height: 35px;
    width: 35px;
    padding: 0 9px 0 0;
    text-align: center;
    font-size: 1.5em;
}

.timeline-container .item-time {
    padding-top: 2px;
}

ol.tl li .item-detail {
    color: #6B7175;
    font-size: 12px;
}

/* map */
#map {
    height: 300px;
    overflow: hidden;
}

#map img {
    max-height: 150%;
}

#hr {
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;
    background: #c1c1c1;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px 0 #858585;
    font-size: 4px;
    color: #4c4c4c;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bolder;
    cursor: grab;
}

/* my_flight.html */
.barcode {
    max-width: 100%;
}

.my-flight-element{
    margin-bottom: 10px;
}

.flighttimes{
    margin-top: 10px;
    margin-bottom: 1px;
}

.flighttimes table{
    margin: auto;
    font-size: 50px;
    width: 100%;
}

.flighttimes tr {
    text-align: center;
}

.flighttimes td{
    padding: 5px;
    line-height: 45px;
}

.guide-btn {
    margin: 15px 0 20px 0;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
}

.my-flight-element i {
    color: var(--colorC);
}

#documents {
    margin-bottom: 10px;
}

#documents .fa-plus-circle{
    font-size: 25px;
    float: right;
    margin-right: 2px;
    margin-bottom: 0;
    padding-top: 5px;
}

.barcode{
    size: auto;
}

.my-flight-document{
    column-width: auto;
}

.fa-expand-arrows-alt{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.my-flight-element{
    font-size: 16px;
    border: solid 1px;
}

.planeicon{
    font-size: 30px;
}

.deadline-table td {
    padding: 3px 0 3px 10px;
}

.luggage-table {
    width: 100%;
}

.luggage-table td{
    padding: 10px;
}

.luggage{
    font-size: 30px;
}

.title{
    margin-left: 4em;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

.bookingref{
    margin-bottom: -0.3em;
    font-size: 30px;
}

.bookingInput{
    max-width: 100%;
    width: 40em;
    max-height: 10%;
    height: 55px;
}

.sbtButton{
    color: white;
    max-width: 100%;
    width: 40em;
    margin-top: 1em;
    height: 55px;
    margin-bottom: 10.9em;
}

.boarding_pass {
    margin-top: 4em;
    margin-left: 8.5em;
}

.time {
    margin-left: 3em;
}

.info {
    margin-left: 6em;
    font-size: 30px;
}

.space {
    margin: 5px;
}

/* end_flight */
.welcomeMessage{
    margin: 3em 3em 1em;
}
.heart{
    margin: 2.5em 2.5em 1em;
    width: 400px;
    height: 400px;
}
